<h1><a href="/movies">Rotten Mangoes</a></h1>
<%= link_to "Submit a movie!", new_movie_path %>
  <%= render 'search' %>
<hr>
<div id="wrapper">
  <!-- <div id="columns">
  <% @movies.each do |movie|  %>
    <%= render partial: 'movie', locals: {movie: movie} %>
  <% end %>
  <%= paginate @movies %> -->
  <div id="columns" class="infinite-table">
     <table>
       <%= render @movies %>
     </table>
     <p class="pagination">
       <%= link_to_next_page(@movies, 'Next Page', remote: true) %>
     </p>

  </div>
</div>