<h1><a href="/movies">Rotten Mangoes</a></h1>
<%= link_to "Submit a movie!", new_movie_path %>
<%= form_tag movies_path, method: "get" do %>
  <%= text_field_tag :title, params[:title], placeholder: "Search Movie Title:" %>
  <%= text_field_tag :director, params[:director], placeholder: "Search Director:" %>
  <%= select_tag(:duration, options_for_select([['Any duration', '0-1000'],['Under 90 mins', '0-90'],['90-120 mins', '90-120'],['Over 120 minutes', '120-1000']])) %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <%= if movie.image? ; image_tag movie.image.thumb else link_to image_tag(movie.poster_image_url), movie_path(movie) end %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>